@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.AllProducts {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 50vh;
}
.AllProducts h1 {
  background-color: rgba(14, 4, 153, 0.836);
  color: #fff;
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
}

.allItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 85%;
  margin: auto;
  gap: 1rem;
}

@media screen and (max-width: 1050px) {
  .allItems {
    width: 90%;
  }
}
@media screen and (max-width: 850px) {
  .allItems {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .allItems {
    width: 70%;
    grid-template-columns: repeat(1, 1fr);
  }
}

.sort-by {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.showing {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sort-by-point {
  cursor: pointer;
}
.drop-icon {
  font-size: 28px;
}
/* Product_Card area */
.Product_Card {
  width: 100%;
  border: 1px solid #e0d7d7;
  padding: 0.2rem 0.3rem;
  background-color: rgb(221, 190, 54);
  cursor: pointer;
}
.Product_Card img {
  width: 100%;
  height: 220px;
}
.line-height {
  line-height: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card-btn {
  background-color: rgb(5, 150, 12);
  color: #fff;
  border: none;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  margin: auto;
  display: block;
  transition: 1s all;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card-btn:hover {
  box-shadow: 2px 2px 9px 2px #000;
}
/* Product_Card area */

.explore-more {
  display: flex;
  justify-content: center;
}
.explore-more p {
  background-color: rgb(0, 36, 243);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: 0.7s;
}
.explore-more p:hover {
  color: rgb(20, 14, 12);
}
