@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.Navbar-area {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  width: 125px;
  height: 100px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: left 0.4s ease-in-out;
}
li {
  list-style: none;
}
.navlink {
  color: #000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: inline-block;
  transition: 0.5s;
}
.navlink:hover {
  color: orange;
}
.active {
  color: orange;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.login-cart {
  display: flex;
  gap: 2rem;
  position: relative;
  cursor: pointer;
}
.login-cart .login {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 1px solid #052c68;
  background-color: #fff;
  border-radius: 2rem;
  padding: 0rem 1.1rem;
  font-size: 17px;
  transition: 0.2s;
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.login-cart .login:active {
  background-color: rgb(8, 29, 148);
  color: #fff;
}

.login-cart .cart {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}
.cart-icon {
  color: orangered;
}
.cart-count {
  position: absolute;
  top: -8px;
  right: -0.3rem;
  background-color: orange;
  color: #fff;
  border-radius: 5rem;
  padding: 0rem 0.4rem;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.menu-bar {
  display: none;
  z-index: 2;
  /* color: #fff; */
}
.menu-bar .bar {
  font-size: 25px;
}

.menu-bar .Times {
  font-size: 26px;
}
@media screen and (max-width: 680px) {
  .Navbar-area {
    padding: 0 1rem;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    display: block;
    background-color: rgba(255, 255, 255, 0.945);
    padding: 6rem 4rem;
    border-radius: 0.5rem;
  }

  .menu-bar {
    display: block;
    transition: 0.8s;
    /* color: #fff; */
  }

  .login-cart {
    gap: 0.8rem;
  }
  .login-cart .login {
    font-size: 14px;
    padding: 0 0.7rem;
  }
  .login-cart .cart {
    font-size: 20px;
  }
  .hide-menu {
    left: -200px;
  }
}
