.Hero {
  background: url("/assets/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section {
  background-color: rgba(27, 25, 25, 0.658);
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
}
.hero-section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.hero-btn {
  background-color: rgb(221, 52, 52);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.4rem;
  transition: 0.8s;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero-btn:hover {
  background-color: #fff;
  color: #000;
}
